*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
   
}
body>.box-1{
    width: 100%;
    height: 100vh;
    background-image: url("Participation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span{
    color: #ff511a
}
body>.box-1>.color{
    background-color: rgba(21, 21, 61, 0.734);
    height: 100%;
}
body>.box-1>.color>.container-1{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body>.box-1>.color>.container-1>.header{
    width: 27vh;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
body>.box-1>.color>.container-1>.header>img{
    width: 14vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-1>.color>.container-1>.header>h1{
    font-size: 15px;
    color: white;
}
body>.box-1>.color>.container-1>ul{
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 15px;

}
body>.box-1>.color>.container-1>ul>li>a{
    text-decoration: none;
    color: white;
}
body>.box-1>.color>.container-1>ul>li.home-1>a{
    color: #ff511a;
}
body>.box-1>.color>.container-1>ul>.home>a{
    background-color: rgb(0, 255, 162);
    height: 5vh;
    width: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 165, 165);
    border-radius: 5px;
}
body>.box-1>.color>.container-2{
    color: white;
    margin-left: 70px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body>.box-1>.color>.container-2>h1{
    font-size: 50px;
}
body>.box-1>.color>.container-2>.pp{
    width: 60px;
    border: 2px solid white;
    border-radius: 5px;
}
body>.box-1>.color>.container-2>.button{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
body>.box-1>.color>.container-2>.button>.More{
    width: 120px;
    height: 28px;
    background-color: rgb(6, 245, 165);
    color: white;
    border: none;
    border-radius: 3px;
}
body>.box-1>.color>.container-2>.button>.Us{
    width: 100px;
    height: 28px;
    background-color:#ff511a;
    color: white;
    border: none;
    border-radius: 3px;
}
body>.box-2{
    width: 100%;
    height: 100vh;
    background-image: url("Participation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 12vh;
}
body>.box-2>.color{
    background-color: rgba(21, 21, 61, 0.885);
    height: 100%;
    display: flex;
    color: white;
}
body>.box-2>.color>img{
    width: 55%;
    height: 110vh;
    transform: translate(-30px,-50px);
}
body>.box-2>.color>.container>.hearder{
   padding: 60px 0px;
}
body>.box-2>.color>.container>.hearder>h3{
    color: #ff511a;
    font-size: 12px;
}
body>.box-2>.color>.container>.hearder>h1{
    font-size: 25px;
}
body>.box-2>.color>.container>.input{
    display: flex;
    justify-content:space-between;
    width: 101.8vh;
}
body>.box-2>.color>.container>.input>.Input_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13vh;
    width: 48%;
}
body>.box-2>.color>.container>.input>.Input_1>input{
    height: 7vh;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgba(138, 138, 165, 0.675);
}
body>.box-2>.color>.container>.container-1{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
body>.box-2>.color>.container>.container-1>.Input_1>input{
    height: 7vh;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgba(138, 138, 165, 0.675);
}
body>.box-2>.color>.container>.container-1>.Input_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13vh;
    width: 100%;
}
body>.box-2>.color>.container>button{
    width: 30vh;
    height: 7vh;
    background-color: #ff511a;
    border: none;
    border-radius: 3px;
}
body>.box-2>.color>.container>.container-1>.Input_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13vh;
    width: 100%;
}
body>.box-2>.color>.container>.container-1>.Input_2>input{
    color: white !important;
    background-color: rgba(138, 138, 165, 0.675);
    height: 7vh;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
}
body>.box-3{
    width: 100%;
    height: 30vh;
    background-image: url("Participation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vh;
}
body>.box-3>.color{
    background-color: rgba(21, 21, 61, 0.885);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
body>.box-3>.color>h1{
    width: 30%;
    font-size: 25px;
}
body>.box-3>.color>h1>.color-1{
    color: rgb(76, 198, 57);
}
body>.box-3>.color>.button{
    width: 22%;
    display: flex;
    justify-content: space-between;
}
body>.box-3>.color>.button>.More{
    width: 120px;
    height: 28px;
    background-color: rgb(6, 245, 165);
    color: white;
    border: none;
    border-radius: 3px;
}
body>.box-3>.color>.button>.Us{
    width: 100px;
    height: 28px;
    background-color:#ff511a;
    color: white;
    border: none;
    border-radius: 3px;
}
.bi-archive-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
.bi-fuel-pump-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
.bi-hospital-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
.bi-cloud-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
.bi-briefcase-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
.bi-puzzle-fill{
    color:rgb(4, 162, 4);
    font-size: 50px;
    padding: 0px 20px;
}
body>.box-4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-4>.container{
    height: 100vh;
    width: 80%;
    display: flex;
}
body>.box-4>.container>.container-1>.div-1{
    border: 1px solid green;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-4>.container>.container-1>.div-1>.text{
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body>.box-4>.container>.container-1>.div-1>.text>h1{
    font-size: 17px;
}
body>.box-4>.container>.container-1>.div-1>.text>p{
    font-size: 10px;
}
body>.box-4>.container>.container-2>.div-1{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-4>.container>.container-2>.div-1>.text{
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body>.box-4>.container>.container-2>.div-1>.text>h1{
    font-size: 17px;
}
body>.box-4>.container>.container-2>.div-1>.text>p{
    font-size: 10px;
}
body>.box-5{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-5>.container{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
body>.box-5>.container>.container-1{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body>.box-5>.container>.container-1>h5{
    color:#ff511a;
}
body>.box-5>.container>.container-2{
    display: flex;  
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-5>.container>.container-2>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
}
body>.box-5>.container>.container-2>div p{
    font-size: 10px;
}
body>.box-5>.container>.container-2>div h1{
    font-size: 25px;
}
body>.box-5>.container>.container-2>div h5{
    font-size: 15px;
    color: green;
}
body>.box-6{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-6>.container{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
body>.box-6>.container>.container-1{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body>.box-6>.container>.container-1>h4{
    color:#ff511a;
    font-size: 15px;
}
body>.box-6>.container>.container-2{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
}
body>.box-6>.container>.container-2>.Table{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
body>.box-6>.container>.container-2>.Table>.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 70%;
}
body>.box-6>.container>.container-2>.Table>.buttons>.button-1{
    border:none;
    border-radius: 5px;
    color: #ff511a;
    font-weight: bold;
    width: 120px;
    height: 30px;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-6>.container>.container-2>.Table>.buttons>.button-2{
    border:none;
    font-weight: bold;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-6>.container>.container-2>.Table>.buttons>.button-3{
    border:none;
    border-radius: 5px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-6>.container>.container-2>.Table>.ULs{
    display: flex;
    justify-content: space-around;
    height: 80%;
}
body>.box-6>.container>.container-2>.Table>.ULs ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
body>.box-6>.container>.container-2>.Table>.ULs h1{
    font-size: 20px;  
}
body>.box-6>.container>.container-2>.Table>.ULs>.ul_1>li{
    color: #ff511a;
}
body>.box-6>.container>.container-2>.Table>.ULs li{
    list-style-type: none;
}
body>.box-6>.container>.container-2>.Text{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body>.box-6>.container>.container-2>.Text>h1{
    font-size: 20px;
}
body>.box-6>.container>.container-2>.Text>button{
    border:none;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(10, 243, 165);
    width: 120px;
    height: 25px;
    box-shadow: 2px 2px 9px rgba(26, 16, 16, 0.24),-2px -2px 9px rgba(26, 16, 16, 0.24);
}
body>.box-6>.container>.container-2>.Text span{
    font-weight: bold;
    color: black;
}
body>.box-7{
    height: 45vh;
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body>.box-7>.container-1{
    width: 100%;
    height: 30vh;
    display: flex;
    color: rgba(255, 255, 255, 0.631);
    background-color: rgb(23, 23, 119);
    justify-content: space-around;
    align-items: center;
}
body>.box-7>.container-1 div{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.631);
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-7>.container-2{
    width: 100%;
    height: 15vh;
    background-color: rgb(17, 17, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}
body>.box-7>.container-2>div{
    width: 35%;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.665);
}