.th-1st{
    color: aliceblue;
    background-color: blue;
}
.th-2nd{
    color: aliceblue;
    background-color:rgb(222, 99, 199);
}
.tr{
    color: aliceblue;
    background-color: rgb(208, 155, 55);
}
