*{
    margin:0;
    padding:0;
}
table{
    border: 2px solid red;
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 2px solid red;
    background-color:aqua;
    border-color: aqua;
}
td{
    border: 2px solid red;
}
.th{
    background-color: chartreuse;
    color: rgb(21, 139, 242);
}
.tr{
    background-color: chocolate;
    border-color: chocolate;
}
.blue{
    background-color: blue;
    color: rgb(7, 232, 22);
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
div{
    border: 1px solid black;
    background-color: black;
}
h3{
    font-size: 61px;
    color:chartreuse;
    text-align: center;
}
h2{
    font-size: 30px;
    color:chartreuse;
    text-align: center;
}